<p>Edit Countries</p>
<%= form_for :job_type, url: job_type_path(@job_type), method: :patch do |f| %>
  <% if @job_type.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@job_type.errors.count, "error") %> prohibited
      this post from being saved:</p>
    <ul>
    <% @job_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<p>
	<%=f.label :type_title%> <br />
	<%=f.text_field :type_title%>
</p>
<p><%= f.submit %></p>
<% end %>
