<% if params[:type].to_s == "business" || params[:type].to_s == "individual" %>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

 <%= f.label :avatar do %>
    <%= f.file_field :avatar  %>
    <%= f.hidden_field :avatar_cache %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<% if params[:type].to_s == "business"
@employerid= 1 
else
@employerid= 2
end
 %>
<div style="display: none;">
<%= f.select :role, [@employerid.to_s], :type => "hidden" %>
</div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
<%else %>
<br>
<%= link_to "I am a business or school and want to hire teachers

Register for a business account, create a profile for your school and create job postings!", new_user_registration_path + '?type=individual' %> <br> <br>

<%= link_to "I am an individual looking for work

Register as an individual, create an eResume and apply to teaching jobs!", new_user_registration_path + '?type=business' %> 





<% end %>
