
<div class="main-messages-box-cover">
                        <div class="msg-center-box">
                          <div class="msg-send-recevier-cover"> 
                            <div class="day-messages">
            <% conversation.participants.each do |participant| %>
            <% if participant != current_user %>
                                Conversation with <%= participant.username %>
            <% end %>
            <% end %>
                            </div>  
                            <div class="clearfix"></div> 
                            
<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    
  <%  @first_sender = message.sender.username if @first_sender.blank? %>
      
    <% if @first_sender == message.sender.username %>
                                    <div class="msg-sender">

                            <img src="<%= message.sender.avatar.blank? ? asset_path('profile-placeholder.jpg') : message.sender.avatar.thumb.url %>" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4><%= message.sender.username %><span class="date-time"><i class="fa fa-clock"></i> <%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></span></h4>
                                        <p><%= message.body %></p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div> 
    <% else %>
    
                            <div class="msg-receiver">
                                    <img src="<%= message.sender.avatar.blank? ? asset_path('profile-placeholder.jpg') : message.sender.avatar %>" width="50" height="50" class="pull-right">
                                    <div class="user-name-msg text-right pull-left">
                                        <h4><span class="date-time"><i class="fa fa-clock"></i> <%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %> </span> <%= message.sender.username %> </h4>
                                        <p> <%= message.body %></p>
                                    </div> 
                                    
                                      <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
           
    <% end %>
      

<% end %>                    
                          </div>
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
        <% end %>
                        </div>

</div>
