<%= render 'home/header' %>
    </header>

    <section class="page-heading-sec">    
        <div class="container">
            <div class="row">
            <div class="page-heading">
                 <h1>Search Results</h1>            
            </div>       
        </div>
    </div>

    </section>
    

    <section class="search-result-sec">
        <div class="container">
            <div class="row">
            <div class="col-md-3">
                <aside class="search-filters">
                    <div class="filter-head">
                    <h1>Filter Results</h1>
                    </div>
                    <%= form_tag school_search_results_path, :method => 'get' do %>
                     <div class="filter-single-field">
                         <label for="keyword">Keyword:</label>
                         <input type="text" name="keyword" id="keyword" class="form-control" value="<%= params[:keyword] %>" title="" placeholder="Teacher">
                     </div>
                    
                     <div class="filter-single-field">
                         <label for="location">Location:</label>
                         <select name="location" onchange="showcountry(this.value)" id="location" class="form-control">
                             <option <%= params[:location].to_i == 1? 'selected=selected' : '' %> value="1">Anywhere in the world </option>
                             <option <%= params[:location].to_i == 2? 'selected=selected' : '' %> value="2">Specific country</option>
                         </select>
                     </div>



                     <div class="filter-single-field" id="">
                         <label for="country">Country:</label>
                         <select name="countrysearch" id="country" class="form-control check-location" disabled="disabled">
       						 <% @countries.each do |country| %>
						     <option <%= country.countryname == params[:countrysearch]? 'selected=selected' : ''  %> value="<%= country.countryname %>"><%= country.countryname %> </option>
						     <%end%>
                         </select>
                     </div>  

<!-- to do list
                     <div class="filter-single-field">
                         <label for="citizenship">Citizenship:</label>
                         <select name="" id="country" class="form-control" required="required">                          
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                         </select>
                     </div>
-->                    

<!-- to do list
                     <div class="filter-single-field">
                         <label for="teaching-exp">Minimum years teaching experience:</label>
                          <select name="" id="country" class="form-control" required="required">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                          
                         </select>
                     </div>

                    <div class="filter-single-field">
                         <label for="min-education">Minimum education:</label>                        
                    </div>

                     <div class="filter-single-field">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        TESOL/TEFL Certified
                                    </label>
                                </div>
                            </div>
                            <div class="filter-single-field">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        Bachelor’s Degree
                                    </label>
                                </div>
                            </div>
                            <div class="filter-single-field">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        Master’s Degree
                                    </label>
                                </div>
                            </div>
   -->                      
                     <div class="filter-single-field text-center">
                       
                         <button class="btn  green-btn job-detail-btn filter-btn">Apply Filters</button>
                   
                         
                     </div>
                     <% end %>
                    <div class="clearfix"></div>

                    
                </aside>
            </div>
                <div class="col-md-9 nopadding">
                <div class="col-md-12 result-top-bar-counter nopl">                       
                    <h2><%= @users.count %> schools found <%= ' under "<span class="search-result-item">'.html_safe+ params[:keyword]  + '</span>"'.html_safe unless params[:keyword].blank? %></h2>
                </div>
               
                <div class="clearfix"></div>
                <% count = 0 %>
                <% @users.each do |user| %>
                <% count = count + 1  %>
                    <div class="search-result-row">
                    <div class="<%= count == 1 ? 'featured-border' : '' %>">
                        <div class="col-md-9">
                            <div class="search-result-img-cover">
                                <img class="thumb-size" src="<%= user.avatar.blank? ? asset_path('profile-placeholder.jpg') : user.avatar.thumb.url %>">
                            </div>
                        <div class="search-r-content">
                        <h2><a href="<%= user_path(user) %>"><%= user.first_name %> <%= user.last_name %> (<%= user.username %>)</a></h2>
                        <h4>Designation: Teacher </h4>
                        
                        <span class="address-search"><%= user.country %></span>
                        </div>

                        </div>                        
                        <div class="col-md-3">
                        <a href="<%= user_path(user) %>" data-no-turbolink class="btn  green-btn job-detail-btn">View Profile</a>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                <% end %>
                     <div class="col-md-8 col-md-offset-2 topbar-pagination nopr">
                        <%= will_paginate @users %> 
                     <!--   <ul class="pagination pagination-sm">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                     -->    
                    </div>



                </div>
            </div>
        </div>
    </section>
    <%= render 'home/footer' %>