<%= render 'home/header' %>
</header>
    <!-- individual profile section -->
    <section class="individual-profile-sec">
    <div class="profile-heading">
        <div class="container">
            <div class="row">
                 <h1>Business Profile</h1>            
            </div>       
        </div>
    </div>
    <% flash.each do |name, msg| %>
      <div class="alert alert-info text-center"> 
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
    </section>

    <!-- individual profile tabs section -->
    <section class="individual-profile-tabs">
        <div class="container">
            <div class="row">
               <div class="profile-top-sec">
            <div class="col-md-2 uploadsection">
                <div class="ind-prof-pic">
                  <img class="thumb-size" src="<%= @user.avatar.blank? ? asset_path('profile-placeholder.jpg') : @user.avatar.thumb.url %>"/>
                </div>
                <% if @right_user %>
                 <a href="#" style="margin-left: 18px" data-toggle="modal" data-target="#add_avatar">Update Avatar</a>
                <% end %>
              </div> 
              <div class="col-md-10">
                  <div class="prof-general-info">
                      <div class="col-md-5">
                      <h3>
                        <% if @right_user %>
                        <%=best_in_place @user, :businessname , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Business Name Here", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        <% elsif @user.businessname.blank? %>
                        Business Name
                        <% else  %>
                        <%= @user.businessname %>
                        <% end %>
                        </h3>
                      <p><i class="fa fa-map-marker"></i>
                      <% if @right_user %>
                      <%=best_in_place @user, :city , :html_attrs =>  { size: 15,:tabindex => 10 }, :place_holder => "Add City", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>,            <% elsif @user.city.blank? %>
                      City
                      <% else %>
                      <%= @user.city %>,
                      <% end %>
                      
                      <% if @right_user  %>
                      <%=best_in_place @user, :country , :html_attrs =>  { size: 15,:tabindex => 10 }, :place_holder => "Add Country", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                      <% elsif @user.country.blank? %>
                      Country
                      <% else %>
                      <%= @user.country %>  
                      <% end %>
                      
                       <div class="col-md-8 nopadding">
                          <% totalrating = 0 %>
                          <%  unless @reviewstop.blank? %>
                          <% @reviews.each do |reviewrate| %>
                                <% totalrating = totalrating + reviewrate.rating %>
                                <% end %>

                                <% mainrate = totalrating / @reviews.count %>
                          <% else %>
                             <% mainrate = 0 %>
                          <% end %>
                             <fieldset>
                              <span class="star-cb-group">
                                <% 5.downto(1) do |i| %>
                                <input type="radio" disabled="disabled" id="ratingtop-<%= i %>" <%= "checked" if i == mainrate %> value="<%= i %>" ><label for="ratingtop-<%= i %>"><%= i %></label>
                                <% end %>
                              </span>
                            </fieldset>
                          <div class="start-rating-cover business-star-rating">

                    <div class="clearfix"></div>
                                                </div> 
                      <% if @right_user %>
                          <% link_to "Conversation", new_conversation_path , class: "send-msg prof-send-msg", data: { no_turbolink: true } %>
                      <% else %>
                        <%= link_to "Send a Message", new_conversation_path(:user => @user.id), class: "send-msg prof-send-msg", data: { no_turbolink: true } %>
                      <% end %>
                      </div>

                      </div>
                      <div class="col-md-7">
                          <div class="google-ad-cont">
                            <img src="<%= asset_path('google-ad-468.jpg') %>">
                          </div>
                      </div>
                     
                  </div>
              </div>
              <div class="clearfix"></div>
              </div>


               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 bhoechie-tab-menu">
              <div class="list-group">
                
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><span class="hidden-xs"><br>About Us</span>
                </a>
                <a href="#" class="list-group-item <%= @back_pictures %> text-center">
                  <h4 class="glyphicon glyphicon-film"></h4><span class="hidden-xs"><br>Pictures &amp; Videos</span>
                </a>
                <a href="#" class="list-group-item <%= @back_jobs %> text-center">
                  <h4 class="glyphicon glyphicon-briefcase"></h4><span class="hidden-xs"><br>Job Postings</span>
                </a>                
                <a href="#" class="list-group-item <%= @back_reviews %> text-center">
                  <h4 class="glyphicon glyphicon-comment"></h4><span class="hidden-xs"><br>Reviews</span>
                </a>
                <a href="#" class="list-group-item <%= @back_employees %> text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><span class="hidden-xs"><br>Employees</span>
                </a>
                <a href="#" class="list-group-item <%= @back_location %> text-center">
                  <h4 class="glyphicon glyphicon-map-marker"></h4><span class="hidden-xs"><br>Location</span>
                </a>
               

              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 bhoechie-tab">
                <!-- About section -->
                <div class="bhoechie-tab-content <%= @back_main %>">                 
                    <div class="profile-box">
                      <h3>About Us</h3> 
                      <div class="clearfix"></div>
                      <div class="profile-content-box">
                      <p>
                        <% if @right_user %>
                          <%=best_in_place @user, :about , :type => :textarea , :html_attrs =>  { :style => 'width:500px; height:100px;' }, :place_holder => "Write something about you", :class => "inline-edit-page" %>
                        <% else %>
                        <%= @user.about %>
                        
                    <% if @user.about.blank? && @user.address.blank? && @user.telephone.blank? && @user.website.blank? && @user.otherlocation.blank? %>
                    No Record Found
                    <% end %>
                        
                        <% end %>
                        
                        </p>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                          <% unless !@right_user && @user.address.blank? %>
                            Address:
                          <% end %>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                          <% if @right_user %>
                          <%=best_in_place @user, :address , :html_attrs =>  { size: 70,:tabindex => 10 }, :place_holder => "Can you put your address?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                          <% else %>
                          <%= @user.address %>
                          <% end %>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                          <% unless !@right_user && @user.telephone.blank? %>
                            Telephone:
                          <% end %>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                          <% if @right_user %>
                          <%=best_in_place @user, :telephone , :html_attrs =>  { size: 20,:tabindex => 10 }, :place_holder => "Input you phone no here", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                           <% else %>
                          <%= @user.telephone %>
                          <% end %>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                          <% unless !@right_user && @user.website.blank? %>
                            Website:
                          <% end %>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                        <% if @right_user %>  
                          <%=best_in_place @user, :website , :html_attrs =>  { size: 50,:tabindex => 10 }, :place_holder => "http://www.example.com", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                          <% else %>
                          <%= @user.website %>
                          <% end %>  
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                          <% unless !@right_user && @user.otherlocation.blank? %>
                           Other Locations:
                          <% end %>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                        <% if @right_user %>    
                          <%=best_in_place @user, :otherlocation , :html_attrs =>  { size: 80,:tabindex => 10 }, :place_holder => "If you have other location you can write", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                          <% else %>
                          <%= @user.otherlocation %>
                          <% end %>   
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div class="staff-member-cover">
                            <h2>Current Staff </h2>
                            <% if @company_employees.blank? %>
                            No Staff
                            <% else %>
                             <% @company_employees.each do |company_employee| %>
                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="<%= User.find(company_employee.employee_id).avatar.blank? ? asset_path('profile-placeholder.jpg') : User.find(company_employee.employee_id).avatar.thumb.url %>"/> 
                               <p class="member-name"><%= User.find(company_employee.employee_id).username %></p>                             
                            </div>
                             <% end %>
                             <% end %>
                            <div class="clearfix"></div>
                        </div>

                      </div>
                      </div>

                <div class="profile-box">
                <h3>Introduction:</h3>
                <div class="profile-content-box">
                  
                <p> 
                <% if @right_user %>  
                <%=best_in_place @user, :introduction , :type => :textarea , :html_attrs =>  { :style => 'width:500px; height:100px;' ,:tabindex => 10 }, :place_holder => "Give us introduction", :class => "inline-edit-page" %>
                <% elsif @user.introduction.blank? %>
                No record found
                <% else %>
                <%= @user.introduction %>
                <% end %>
                </p>
                </div>
                </div>


                </div>                
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content <%= @back_pictures %>">
                   
                  <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-picture-o"></i> Pictures <% if @right_user %> <a href="#" class="btn add-btn " data-toggle="modal" data-target="#addpic"> <i class="fa fa-plus"> <% end %></i></a></h3>
                      <div class="profile-content-box">
                      <div class="portfolio-row">
                      <% if @right_user %>   
                       <a href="#" class="btn btn-default button_center" data-toggle="modal" data-target="#addpic">Add Picture</a>  <% end %>
                       <% if !@right_user && @pictures.blank? %>
                           No Record Found
                       <% end %>
                      <!-- Portfolio Single box -->
                      <%= render 'pictures/index' %>
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                  <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-video-camera"></i> Videos<% if @right_user %><a data-target="#addvideo" data-toggle="modal" class="btn add-btn" href="#"> <i class="fa fa-plus"></i></a><% end %></h3>
                      <div class="profile-content-box">
                      <div class="video-row">
                        <% if @right_user %> 
                      <a href="#" class="btn btn-default button_center" data-toggle="modal" data-target="#addvideo">Add Video</a><br>  <% end %>  
                       <% if !@right_user && @videos.blank? %>
                           No Record Found
                       <% end %>
                      <!-- video Single box -->
                      <%= render 'videos/index' %>
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                </div>
                
                <div class="bhoechie-tab-content <%= @back_jobs %>">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-briefcase"></i> Jobs Openings<% if @right_user %><a class="btn add-btn" href="<%= new_job_post_path %>"> <i class="fa fa-plus"></i></a><% end %> </h3>
                      <div class="profile-content-box">
                  <% if @right_user %>
                  <%= link_to 'Add Jobs', new_job_post_path ,  :class=> "btn btn-default button_center" %>
                  <% end %> 
                  <% if !@right_user && @job_posts.blank? %>
                           No Record Found
                  <% end %>
                  <div class="clearfix"></div>
                   <% unless @job_posts.blank? %>
                    <% @job_posts.each do |job_post| %>  
                      <div class="education-row">
                        <div class="col-md-9">
                          <h4><a href="#">   <%= job_post.title %></a></h4>
                          <p><%= raw(strip_tags(job_post.description)[0,30]) %></p>
                        </div>
                        <div class="col-md-3">
                            <a class="send-msg" href="<%= job_post_path(job_post)%>">Show Job</a>         
                        </div>
                        <%= link_to 'Delete',  job_post,  method: :delete, data: { confirm: 'Are you sure?' }, :class=>"pull-left col-xs-offset-1 top10" %>
                        <div class="clearfix"></div>
                      </div>
                        <% end %>  
                  <% end %>

                      </div>
                  </div>

                </div>

                <div class="bhoechie-tab-content <%= @back_reviews %>">
                   <div class="profile-box">
                      <h3><i class="fa fa-commenting"></i> Reviews</h3>
                      <div class="profile-content-box">
                        <%= render 'reviews/index' %>
                      <!-- Review Single Row Cover -->
                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>

                <div class="bhoechie-tab-content <%= @back_employees%>">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-user"></i> Employees <% if @right_user %><a data-target="#addemployee" data-toggle="modal" class="btn add-btn" href="#"> <i class="fa fa-plus"></i></a><% end %></h3>
                      <div class="profile-content-box">
                      <div class="staff-member-cover">
                      <% if @right_user %>                              
                      <a href="#" data-toggle="modal" class="btn btn-default button_center" data-target="#addemployee">Add Employees</a>
                      <% end %>
                      <% if !@right_user && @company_employees.blank? %>
                           No Record Found
                       <% end %>
                      <div class="clearfix"></div></br>
                      <%= render 'company_employees/index' %>

                            <div class="clearfix"></div>
                        </div>
                        


                      <div class="clearfix"></div>
                      </div>
                  </div>

                </div>

                <div class="bhoechie-tab-content <%= @back_location %> ">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-map-marker"></i> Location</h3>
                      <div class="profile-content-box">
                      <div class="col-md-7">
                       <div style="width:500px;overflow:hidden;height:500px;max-width:100%;">

                       <div id="google-maps-canvas" style="height:500px;width:500px;max-width:100%;">
                       <iframe id="location_frame" style="height:100%;width:100%;border:0;" frameborder="0" src="https://maps.google.com/maps?&amp;q=<%= @user.locationdescription %>&amp;output=embed"></iframe>
                       </div>
                        </div>
                        </div>
                        <div class="col-md-5">
                          <p id="map-location">
                          <% if @right_user %>  
                          <%=best_in_place @user, :locationdescription , :html_attrs =>  { size: 40,:tabindex => 10 }, :place_holder => "Write full address", :id => "location_tracker" , :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>    
                          <% elsif @user.locationdescription.blank? %>
                          No Record
                          <% else %>
                          <%= @user.locationdescription %>
                          <% end %>
                          </p>                          
                        </div>

                      <div class="clearfix"></div>
                      </div>
                  </div>

                </div>




               
            </div>
            </div>
              
        </div>
        </div>
    </section>
    
<% if @right_user %>    
  <!--  all modals -->
  <!-- add picture modal -->
<%= render 'pictures/form' %>	

<!-- add Video modal -->
<%= render 'videos/form' %>	

<!-- add avatar modal -->
  <div id="add_avatar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Profile Picture</h4>
      </div>
      <div class="modal-body">
    <%= form_for @user, html: { multipart: true } do |f| %>
  <div class="form-group">
    <label for="pwd">Update here</label>
    <div>
    <%= f.file_field :avatar , :onchange =>"validateFiles(this);" , :data => {:max_file_size => 1.megabytes} %>
    <%= f.hidden_field :avatar_cache %>  
    </div><br>
  </div> 

      </div>
      <div class="modal-footer">
        <button type="submit" class="send-msg">Update</button>
      </div>
    </div>
    <% end %>
  </div>
  <script>
  function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (1 MB)";
  var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif or .png is allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png"];
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}

$('#location_tracker').bind("ajax:success", function(){
window.location = "?back_to=location";
});
</script>
</div>

<!-- add Video modal -->
<%= render 'company_employees/form'%>

<% end %>

<%= render 'home/footer' %>