<%= render 'home/header' %>
</header>
    <!-- individual profile tabs section -->
    <section class="individual-profile-tabs">
        <div class="container">
            <div class="row">
               <div class="profile-top-sec">
            <div class="col-md-2">
                <div class="ind-prof-pic">
                    <img src="/assets/employe-pic.jpg">
                </div>
              </div> 
              <div class="col-md-10">
                  <div class="prof-general-info">
                      <div class="col-md-5">
                      <h3><%= best_in_place @user, :businessname %></h3>
                      <p><i class="fa fa-map-marker"></i> <%= @user.city %>, <%= @user.country %></p>
                       <div class="col-md-8 nopadding">
                          <div class="start-rating-cover business-star-rating">
        <fieldset class="rating">
        <input type="radio" value="5" name="rating" id="star5"><label title="Awesome - 5 stars" for="star5" class="full"></label>
        <input type="radio" value="4 and a half" name="rating" id="star4half"><label title="Pretty good - 4.5 stars" for="star4half" class="half"></label>
        <input type="radio" value="4" name="rating" id="star4"><label title="Pretty good - 4 stars" for="star4" class="full"></label>
        <input type="radio" value="3 and a half" name="rating" id="star3half"><label title="Meh - 3.5 stars" for="star3half" class="half"></label>
        <input type="radio" value="3" name="rating" id="star3"><label title="Meh - 3 stars" for="star3" class="full"></label>
        <input type="radio" value="2 and a half" name="rating" id="star2half"><label title="Kinda bad - 2.5 stars" for="star2half" class="half"></label>
        <input type="radio" value="2" name="rating" id="star2"><label title="Kinda bad - 2 stars" for="star2" class="full"></label>
        <input type="radio" value="1 and a half" name="rating" id="star1half"><label title="Meh - 1.5 stars" for="star1half" class="half"></label>
        <input type="radio" value="1" name="rating" id="star1"><label title="Sucks big time - 1 star" for="star1" class="full"></label>
        <input type="radio" value="half" name="rating" id="starhalf"><label title="Sucks big time - 0.5 stars" for="starhalf" class="half"></label>
        </fieldset>
        <div class="clearfix"></div>
                                                </div> 
                                                <a href="" class="send-msg prof-send-msg">Send a Message</a>                           
                      </div>

                      </div>
                      <div class="col-md-7">
                          <div class="google-ad-cont">
                            <img src="/assets/google-ad-468.jpg">
                          </div>
                      </div>
                     
                  </div>
              </div>
              <div class="clearfix"></div>
              </div>


               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><span class="hidden-xs"><br>About Us</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-film"></h4><span class="hidden-xs"><br>Pictures &amp; Videos</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-briefcase"></h4><span class="hidden-xs"><br>Job Postings</span>
                </a>                
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-comment"></h4><span class="hidden-xs"><br>Reviews</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><span class="hidden-xs"><br>Employees</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-map-marker"></h4><span class="hidden-xs"><br>Location</span>
                </a>
               

              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 bhoechie-tab">
                <!-- About section -->
                <div class="bhoechie-tab-content active">                 
                    <div class="profile-box">
                      <h3>About Us</h3> 
                      <div class="clearfix"></div>
                      <div class="profile-content-box">
                      <p><%= best_in_place  @user, :about %></p>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                            Address:
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                          <%=@user.address %>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                            Telephone:
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                          <%=@user.telephone  %>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                            Website:
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                          <%=@user.website  %>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding a-t-title">
                           Other Locations:
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cus-col">
                          <%=@user.otherlocation  %>
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div class="staff-member-cover">
                            <h2>Current Staff </h2>
                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="clearfix"></div>
                        </div>

                      </div>
                      </div>

                <div class="profile-box">
                <h3>Introduction:</h3>
                <div class="profile-content-box">
                <p> <%=@user.introduction  %></p>
                </div>
                </div>


                </div>                
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                   
                  <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-picture-o"></i> Pictures</h3>
                      <div class="profile-content-box">
                      <div class="portfolio-row">
                      <!-- Portfolio Single box -->
                        <div class="col-md-3 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                        <!-- Portfolio Single box -->
                        <div class="col-md-3 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                        <!-- Portfolio Single box -->
                        <div class="col-md-3 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                        <!-- Portfolio Single box -->
                        <div class="col-md-3 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>

                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                  <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-video-camera"></i> Videos</h3>
                      <div class="profile-content-box">
                      <div class="video-row">
                      <!-- video Single box -->
                        <div class="col-md-6 text-center">                        
                          <div class="video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                              <a href="" data-toggle="modal" data-target="#Video1"><img src="/assets/video-thumbnail.jpg" class="img-responsive"></a>
                              <div class="clerarfix"></div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>

                      <!-- video Single box -->
                        <div class="col-md-6 text-center">                        
                          <div class="video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                              <a href="" data-toggle="modal" data-target="#Video2"><img src="/assets/video-thumbnail.jpg" class="img-responsive"></a>
                              <div class="clerarfix"></div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                </div>
                
                <div class="bhoechie-tab-content">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-briefcase"></i> Jobs Openings</h3>
                      <div class="profile-content-box">
                      
                    <% @job_posts.each do |job_post| %>  
                      <div class="education-row">
                        <div class="col-md-9">
                          <h4><a href="#">   <%= job_post.title %></a></h4>
                          <p><%= raw(strip_tags(job_post.description)[0,30]) %></p>
                        </div>
                        <div class="col-md-3">
                            <a class="send-msg" href="<%= job_post_path(job_post)%>">Apply Now</a>                        
                        </div>
                        <div class="clearfix"></div>
                      </div>
                        <% end %>  

                      <div class="clearfix"></div>
                      </div>
                  </div>

                </div>

                <div class="bhoechie-tab-content">
                   <div class="profile-box">
                      <h3><i class="fa fa-commenting"></i> Reviews</h3>
                      <div class="profile-content-box">
                      <!-- Review Single Row Cover -->
                        <div class="review-row">
                          <div class="col-md-2">
                            <div class="comment-img">
                                <img src="/assets/davene-januszewski.jpg" width="80" height="80">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="reviews-cover">
                              <p><img class="quote-left" src="/assets/quote-left.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever. <img class="quote-right" src="/assets/quote-right.png"></p>
                              <div class="user-name">
                                 <span class="line-left-right"></span>
                                 <span class="comment-name">Davene Januszewski</span>
                                 <span class="line-left-right"></span>
                              </div>
                              
                            </div>                            
                          </div>
                          <div class="clearfix"></div>
                          </div>

                          <!-- Review Single Row Cover -->
                        <div class="review-row">
                          <div class="col-md-2">
                            <div class="comment-img">
                                <img src="/assets/olga-barasoain.jpg" width="80" height="80">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="reviews-cover">
                              <p><img class="quote-left" src="/assets/quote-left.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<img class="quote-right" src="/assets/quote-right.png"></p>
                              <div class="user-name">
                                 <span class="line-left-right"></span>
                                 <span class="comment-name">Olga Barasoain</span>
                                 <span class="line-left-right"></span>
                              </div>
                              
                            </div>                            
                          </div>
                          <div class="clearfix"></div>
                          </div>
                         <div class="comment-box">
                              <form>                                  
                                  <textarea class="form-control" rows="5" id="comment"></textarea>
                                  <div class="rate-employee">
                                  <label for="rating">Rate this business by clicking on the number of stars</label>
                                  <!-- <div class="select-box-cover">
                                  <select name="" id="input" class="form-control" required="required">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                  </select>
                                  </div> -->
                                  <div class="start-rating-cover business-star-rating rate-this">
        <fieldset class="rating">
        <input type="radio" value="5" name="rating" id="star6"><label title="Awesome - 5 stars" for="star5" class="full"></label>
        <input type="radio" value="4 and a half" name="rating" id="star4half"><label title="Pretty good - 4.5 stars" for="star4half" class="half"></label>
        <input type="radio" value="4" name="rating" id="star7"><label title="Pretty good - 4 stars" for="star4" class="full"></label>
        <input type="radio" value="3 and a half" name="rating" id="star3half"><label title="Meh - 3.5 stars" for="star3half" class="half"></label>
        <input type="radio" value="3" name="rating" id="star8"><label title="Meh - 3 stars" for="star3" class="full"></label>
        <input type="radio" value="2 and a half" name="rating" id="star2half"><label title="Kinda bad - 2.5 stars" for="star2half" class="half"></label>
        <input type="radio" value="2" name="rating" id="star9"><label title="Kinda bad - 2 stars" for="star2" class="full"></label>
        <input type="radio" value="1 and a half" name="rating" id="star1half"><label title="Meh - 1.5 stars" for="star1half" class="half"></label>
        <input type="radio" value="1" name="rating" id="star10"><label title="Sucks big time - 1 star" for="star1" class="full"></label>
        <input type="radio" value="half" name="rating" id="starhalf"><label title="Sucks big time - 0.5 stars" for="starhalf" class="half"></label>
        </fieldset>
        <div class="clearfix"></div>
                                                </div> 




                                  <div class="clearfix"></div>
                                  </div>
                                  <button class="btn leave-button">Leave a Review</button>
                              </form>
                          </div> 

                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>

                <div class="bhoechie-tab-content">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-user"></i> Employees</h3>
                      <div class="profile-content-box">
                      <div class="staff-member-cover">                            
                            <div class="col-md-2 col-sm-6 col-lg-6 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-6 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-6 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-6 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-6 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="col-md-2 col-sm-6 col-lg-6 col-xs-6">
                            <img src="/assets/employe-pic.jpg" class="img-responsive">
                               <p class="member-name">Lorem Ipsum</p>                             
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        


                      <div class="clearfix"></div>
                      </div>
                  </div>

                </div>

                <div class="bhoechie-tab-content">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-map-marker"></i> Location</h3>
                      <div class="profile-content-box">
                      <div class="col-md-7">
                       <div style="width:500px;overflow:hidden;height:500px;max-width:100%;">

                       <div id="google-maps-canvas" style="height:500px;width:500px;max-width:100%;">
                       <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Ring+Road,+London,+United+Kingdom&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                       </div>
                        </div>
                        </div>
                        <div class="col-md-5">
                          <p id="map-location">
                         <%= @user.locationdescription%>                       
                          </p>                          
                        </div>

                      <div class="clearfix"></div>
                      </div>
                  </div>

                </div>




               
            </div>
            </div>
              
        </div>
    </section>

<%= render 'home/footer' %>


<p id="notice"><%= notice %></p>

<p>
  <strong>UserName:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.email %>
</p>
<%= @user.role_type.name %>
<p>
  newrole
  <%= @roleid.id %>
  soytan
  <strong>ID:</strong>
  <%= @user.id %>
</p>
<li><%= current_user.id %></li>
<%= image_tag(@user.avatar)  %>

<%= render 'reviews/index' %>


<br>

<%= render 'educations/index' %>
<%= link_to 'New Education', new_education_path, id: "new_link", remote: true %>