 <%= render 'home/header' %>
    </header>
    
    <!-- individual profile section -->
    <section class="individual-profile-sec">
    <div class="profile-heading">
        <div class="container">
            <div class="row">
                 <h1>My Profile</h1>            
            </div>       
        </div>
    </div>
    </section>

    <!-- individual profile tabs section -->
    <section class="individual-profile-tabs">
        <div class="container">
            <div class="row">
            <div class="profile-top-sec">
            <div class="col-md-2">
                <div class="ind-prof-pic">
                    <img src=<%= @user.avatar.blank? ? asset_path('profile-placeholder.jpg') : @user.avatar %>/>
                </div>
              </div> 
              <div class="col-md-10">
                  <div class="prof-general-info">
                      <div class="col-md-4">
                      <h3><%=best_in_place @user, :first_name , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "First Name ", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%><%=best_in_place @user, :last_name , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Last Name", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></h3>
                      <p><i class="fa fa-map-marker"></i> <%=best_in_place @user, :city , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add City", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>,<%=best_in_place @user, :country , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add Country", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                      
                          <%= link_to "Send a Message", new_conversation_path(:user => @user.id), class: "send-msg prof-send-msg" %>                       
                    
                      </div>
                      <div class="col-md-8">
                          <div class="google-ad-cont">
                            <img src="/assets/google-ad-468.jpg">
                          </div>
                      </div>
                      
                  </div>
              </div>
              <div class="clearfix"></div>
              </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center cus-width">
                  <h4 class="glyphicon glyphicon-user"></h4><span class="hidden-xs"><br>About Me</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-list-alt"></h4><span class="hidden-xs"><br>My eResume</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-briefcase"></h4><span class="hidden-xs"><br>Videos &amp Portfolio</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-comment"></h4><span class="hidden-xs"><br>Reviews</span>
                </a>               
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 bhoechie-tab">
                <!-- About section -->
                <div class="bhoechie-tab-content active">                 
                    <div class="profile-box">
                      <h3>About Me</h3> 
                      <div class="clearfix"></div>
                      <div class="profile-content-box">
                      <p><%=best_in_place @user, :about , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Write something about you", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Current city:
                        </div>
                        <div class="col-md-9">
                              <%=best_in_place @user, :city , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Can you put your current city?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Current country:
                        </div>
                        <div class="col-md-9">
                              <%=best_in_place @user, :country , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Can you put your current country?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Citizenship:
                        </div>
                        <div class="col-md-9">
                            <%=best_in_place @user, :citizenship , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Can you write your cityzenship?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Age:
                        </div>
                        <div class="col-md-9">
                          12 August 1985
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      </div>
                      </div>

                <div class="profile-box">
                <h3>Introduction:</h3>
                <div class="profile-content-box">
                <p>  <%=best_in_place @user, :introduction , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Give us introduction", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                </div>
                </div>


                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-graduation-cap"></i> Education<a data-target="#addeducation" data-toggle="modal" class="btn add-btn" href="#"><i class="fa fa-plus"></i></a></h3>
                      <div class="profile-content-box">
                         <%= render 'educations/index' %>
                      </div>
                  </div>
                  <!-- Works Experience box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-list-alt"></i> Experiences <a data-target="#addexperience" data-toggle="modal" class="btn add-btn" href="#"><i class="fa fa-plus"></i></a></h3>
                      <div class="profile-content-box">
                      <%= render 'experiences/index' %>  
                      </div>
                  </div>

                  <!-- Skill box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-paint-brush"></i> Skills</h3>
                      <div class="profile-content-box">
                      <div class="skill-row">
                          <div class="skill-tag">
                            <span class="skill-rating">Skills</span><span class="label label-default custom-label"><%=best_in_place @user, :skills , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add your skills with separated comma", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></span> 
                            <div class="clearfix"></div>                        
                          </div>
                      </div>
                      </div>
                  </div>
                  <!-- Languages box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-globe"></i> Languages</h3>
                      <div class="profile-content-box">
                      <div class="lang-row">
                          <div class="skill-tag">
                            <span class="label label-default custom-label"><%=best_in_place @user, :language , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add Languages", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></span> 
                            <div class="clearfix"></div>                        
                          </div>
                      </div>
                      </div>
                  </div>


                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                   <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-video-camera"></i> Videos<a data-target="#addvideo" data-toggle="modal" class="btn add-btn" href="#"> <i class="fa fa-plus"></i></a></h3>
                      <div class="profile-content-box">
                      <div class="video-row">
                     <%= render 'videos/index' %>
                      
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                  <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-suitcase"></i> Portfolio<a href="#" class="btn add-btn " data-toggle="modal" data-target="#addpic"> <i class="fa fa-plus"></i></a></h3>
                      <div class="profile-content-box">
                      <div class="portfolio-row">
                      <!-- Portfolio Single box -->
                      <%= render 'pictures/index' %>
                        
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                </div>
                <div class="bhoechie-tab-content">
                   <div class="profile-box">
                      <h3><i class="fa fa-commenting"></i> Reviews</h3>
                      <div class="profile-content-box">
                      <!-- Review Single Row Cover -->
                      <%= render 'reviews/index' %>

                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>
               
            </div>
            
            </div>
              
        </div>
        </div>
    </section>
      <!-- add Video modal -->
  <%= render 'videos/form' %>	

 <!-- add picture modal -->
<%= render 'pictures/form' %>

<!-- add Education modal -->
<%= render 'educations/form' %>

<!-- add experience modal -->
<%= render 'experiences/form' %>

<!-- add Education modal -->
  <div id="addskill" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Skill</h4>
      </div>
      <div class="modal-body">
           <form role="form">
  <div class="form-group">
     <label for="pwd">Title of Skill</label>
    <input type="text" class="form-control" id="">
  </div>

</form> 
      </div>
      <div class="modal-footer">
        <button type="submit" class="send-msg">Add Experience</button>
      </div>
    </div>

  </div>
</div>

<!-- add Education modal -->
  <div id="addlanguage" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Language</h4>
      </div>
      <div class="modal-body">
           <form role="form">
  <div class="form-group">
     <label for="pwd">Title of Language</label>
    <input type="text" class="form-control" id="">
  </div>

</form> 
      </div>
      <div class="modal-footer">
        <button type="submit" class="send-msg">Add Experience</button>
      </div>
    </div>

  </div>
</div>
     <%= render 'home/footer' %>
