 <%= render 'home/header' %>
    </header>
    
    <!-- individual profile section -->
    <section class="individual-profile-sec">
    <div class="profile-heading">
        <div class="container">
            <div class="row">
                 <h1>My Profile</h1>            
            </div>       
        </div>
    </div>
    </section>

    <!-- individual profile tabs section -->
    <section class="individual-profile-tabs">
        <div class="container">
            <div class="row">
            <div class="profile-top-sec">
            <div class="col-md-2">
                <div class="ind-prof-pic">
                    <%= image_tag(@user.avatar)  %>
                </div>
              </div> 
              <div class="col-md-10">
                  <div class="prof-general-info">
                      <div class="col-md-4">
                      <h3><%=best_in_place @user, :first_name , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "First Name ", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%><%=best_in_place @user, :last_name , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Last Name", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></h3>
                      <p><i class="fa fa-map-marker"></i> <%=best_in_place @user, :city , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add City", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>,<%=best_in_place @user, :country , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add Country", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                      
                          <a href="" class="send-msg"> Send a message</a>                          
                    
                      </div>
                      <div class="col-md-8">
                          <div class="google-ad-cont">
                            <img src="/assets/google-ad-468.jpg">
                          </div>
                      </div>
                      
                  </div>
              </div>
              <div class="clearfix"></div>
              </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center cus-width">
                  <h4 class="glyphicon glyphicon-user"></h4><span class="hidden-xs"><br>About Me</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-list-alt"></h4><span class="hidden-xs"><br>My eResume</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-briefcase"></h4><span class="hidden-xs"><br>Videos &amp Portfolio</span>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-comment"></h4><span class="hidden-xs"><br>Reviews</span>
                </a>               
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 bhoechie-tab">
                <!-- About section -->
                <div class="bhoechie-tab-content active">                 
                    <div class="profile-box">
                      <h3>About Me</h3> 
                      <div class="clearfix"></div>
                      <div class="profile-content-box">
                      <p><%=best_in_place @user, :about , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Write something about you", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Current city:
                        </div>
                        <div class="col-md-9">
                              <%=best_in_place @user, :city , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Can you put your current city?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Current country:
                        </div>
                        <div class="col-md-9">
                              <%=best_in_place @user, :country , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Can you put your current country?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Citizenship:
                        </div>
                        <div class="col-md-9">
                            <%=best_in_place @user, :citizenship , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Can you write your cityzenship?", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="about-info-row">  
                        <div class="col-md-3 nopadding a-t-title">
                            Age:
                        </div>
                        <div class="col-md-9">
                          12 August 1985
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      </div>
                      </div>

                <div class="profile-box">
                <h3>Introduction:</h3>
                <div class="profile-content-box">
                <p>  <%=best_in_place @user, :introduction , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Give us introduction", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></p>
                </div>
                </div>


                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                  <!-- Education box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-graduation-cap"></i> Education</h3>
                      <div class="profile-content-box">
                      <div class="education-row">
                        <h4>University of International Economic Relation</h4>
                        <p>Master's Degree, Computer Software Engineering, Master of Engineering</p>
                        <p class="edu-year">2006-2008</p>
                      </div>

                       <div class="education-row">
                        <h4>American University in America</h4>
                        <p>Certificate, Computer Programming, Vandor/Product Certification</p>
                        <p class="edu-year">2006-2008</p>
                      </div>

                       <div class="education-row">
                        <h4>University of International Economic Relation</h4>
                        <p>Master's Degree, Computer Software Engineering, Master of Engineering</p>
                        <p class="edu-year">2006-2008</p>
                      </div>
                      </div>
                  </div>
                  <!-- Works Experience box -->
                  <div class="profile-box">
                      <h3><i class="glyphicon glyphicon-list-alt"></i> Experiences</h3>
                      <div class="profile-content-box">
                      <div class="experience-row">
                        <h4>Emergency Medical Technician</h4>
                        <p class="company-name">Scarsdale Volunteer Ambulance Corps</p>
                        <p class="experience-line">May 1971 – June 1984 (13 years 2 months)</p>
                        <p>Medical team lead responsible for vehicles and crews in emergency medical responses. Responsible for training ambulance response crews in call operations, first aid/medical procedures, ambulance operations and integration with other first-responders, e.g. police and fire department personnel.</p>

                      </div>

                      <div class="experience-row">
                        <h4>IT Director and Web Master</h4>
                        <p class="company-name">NY Raptors</p>
                        <p class="experience-line">September 2012Social | Services</p>
                        <p>The NY Raptors is a hockey team whose members have a variety of challenges and special needs including Autistic Spectrum Disorders, Down's syndrome and Seizure Disorders. The team is a member of the American Special Hockey Association and plays games against local, regional, national and international opponents. The team management, coaching staff and on-ice support staff are all volunteers who operate the team approximately nine months out of the year.</p>

                      </div>
                       
                      </div>
                  </div>

                  <!-- Skill box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-paint-brush"></i> Skills</h3>
                      <div class="profile-content-box">
                      <div class="skill-row">
                          <div class="skill-tag">
                            <span class="skill-rating">Skills</span><span class="label label-default custom-label"><%=best_in_place @user, :skills , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add your skills with separated comma", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></span> 
                            <div class="clearfix"></div>                        
                          </div>
                      </div>
                      </div>
                  </div>
                  <!-- Languages box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-globe"></i> Languages</h3>
                      <div class="profile-content-box">
                      <div class="lang-row">
                          <div class="skill-tag">
                            <span class="label label-default custom-label"><%=best_in_place @user, :language , :html_attrs =>  { size: 10,:tabindex => 10 }, :place_holder => "Add Languages", :class => "inline-edit-page" , :ok_button_class => "btn btn-primary" , :ok_button => "ok"%></span> 
                            <div class="clearfix"></div>                        
                          </div>
                      </div>
                      </div>
                  </div>


                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                   <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-video-camera"></i> Videos</h3>
                      <div class="profile-content-box">
                      <div class="video-row">
                      <!-- video Single box -->
                        <div class="col-md-6 text-center">                        
                          <div class="video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                                <a href="" data-toggle="modal" data-target="#Video1"><img src="/assets/video-thumbnail.jpg" class="img-responsive"></a>
                              <div class="clerarfix"></div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                      <!-- video Single box -->
                        <div class="col-md-6 text-center">                        
                          <div class="video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                              <a href="" data-toggle="modal" data-target="#Video2"><img src="/assets/video-thumbnail.jpg" class="img-responsive"></a>
                              <div class="clerarfix"></div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                      
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                  <!-- video and portfolio box -->
                  <div class="profile-box">
                      <h3><i class="fa fa-suitcase"></i> Portfolio</h3>
                      <div class="profile-content-box">
                      <div class="portfolio-row">
                      <!-- Portfolio Single box -->
                        <div class="col-md-4 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                        <!-- Portfolio Single box -->
                        <div class="col-md-4 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                        <!-- Portfolio Single box -->
                        <div class="col-md-4 text-center">                        
                          <div class="portfolio-box">                           
                              <img src="/assets/no-image.jpg">
                              <div class="clerarfix"></div>                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                            <a href="" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
                        
                      <div class="clearfix"></div>
                      </div>

                      </div>
                  </div>

                </div>
                <div class="bhoechie-tab-content">
                   <div class="profile-box">
                      <h3><i class="fa fa-commenting"></i> Reviews</h3>
                      <div class="profile-content-box">
                      <!-- Review Single Row Cover -->
                        <div class="review-row">
                          <div class="col-md-2">
                            <div class="comment-img">
                                <img src="/assets/davene-januszewski.jpg" width="80" height="80">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="reviews-cover">
                              <p><img class="quote-left" src="/assets/quote-left.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever. <img class="quote-right" src="/assets/quote-right.png"></p>
                              <div class="user-name">
                                 <span class="line-left-right"></span>
                                 <span class="comment-name">Davene Januszewski</span>
                                 <span class="line-left-right"></span>
                              </div>
                              
                            </div>                            
                          </div>
                          <div class="clearfix"></div>
                          </div>

                          <!-- Review Single Row Cover -->
                        <div class="review-row">
                          <div class="col-md-2">
                            <div class="comment-img">
                                <img src="/assets/olga-barasoain.jpg" width="80" height="80">
                            </div>
                          </div> 
                          <div class="col-md-10">
                            <div class="reviews-cover">
                              <p><img class="quote-left" src="/assets/quote-left.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<img class="quote-right" src="/assets/quote-right.png"></p>
                              <div class="user-name">
                                 <span class="line-left-right"></span>
                                 <span class="comment-name">Olga Barasoain</span>
                                 <span class="line-left-right"></span>
                              </div>
                              
                            </div>                            
                          </div>
                          <div class="clearfix"></div>
                          </div>
                         <div class="comment-box">
                              <form>
                                  <textarea class="form-control" rows="5" id="comment"></textarea>
                                  <button class="btn leave-button">Leave a Review</button>
                              </form>
                          </div> 

                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>
               
            </div>
            
            </div>
              
        </div>
        </div>
    </section>
     <%= render 'home/footer' %>
     
     
<%= render 'educations/index' %>
<%= link_to 'New Education', new_education_path, id: "new_link", remote: true %>