<div id="new_video">
<%= form_for @video, remote:true do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :video_url %><br>
    <%= f.text_area :video_url %>
  </div>
  <div class="field">
    <%= f.label :vid_description %><br>
    <%= f.text_area :vid_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>