	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<div style="padding-bottom:0px" class="row-fluid hero_bar">
						<div class="span5" >
							<h2> <%= @page_title %> <h2> 
						</div>
					<div class="span5 offset2" >	
						<h2 style="padding-left: 63px;margin-top:11px;margin-bottom:-18px">
											<form>
											<select class="home_select"
											onChange="if(this.selectedIndex!=0)
											self.location=this.options[this.selectedIndex].value">
											<option value="" selected>Select Your country
												 <% @countries.each do |country| %>
											<option value="<%= url_for(country)%>"><%= country.countryname %>
												<%end%>	
											</select>
											</form> 
						</h2>
					</div>
				</div>
				<table class="table table-striped">
					<tbody>
                  <% @job_posts.each do |job_post| %>
						<tr class="">
					
							  	<td><span class="label"> <%= job_post.created_at.strftime("%d %b. %Y") %></span></td>
							<td><strong><%= link_to job_post.title, job_post %></strong><br>
		                       <div style="text-align:justify"><%= raw(strip_tags(job_post.description)[0,550]) + "... " %></div> <div style="float:right; padding-top:1%"><strong><%=link_to "Read more", job_post %></strong></div> 
							</td>
							<td><span class="label label-success"><%= job_post.country.countryname %></span></td>
						
						</tr>	                
					<% end %>
					</tbody>
				</table>
			</div>
		<%= will_paginate @job_posts %> 
		</div>
	</div>