
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<h2>Latest jobs</h2>
				<table class="table table-striped">
					<tbody>
                  <% @job_posts.each do |job_post| %>
						<tr class="">
							<td><span class="label label-success"> <%= job_post.job_type.type_title %></span></td>
							  
							<td><strong><%= link_to job_post.title, job_post %></strong><br>
		                       <div style="text-align:justify"><%= raw(strip_tags(job_post.description)[0,450]) + "... " %></div> <div style="float:right; padding-top:1%"><strong><%=link_to "Read more", job_post %></strong></div> 
							</td>
							<td><%= job_post.country.countryname %></td>
							<td><%= job_post.created_at.strftime("%d %b. %Y") %></td>
						</tr>	                
					<% end %>
					</tbody>
				</table>
			</div>
			<%= will_paginate @job_posts %>
		</div>
	</div>