	<!-- Featured Teachers Section -->
     <section class="ft-sec">
   	<div class="container">
    	<div class="row featured-teachers">  
                
                <div class="trt-cover">
                    <h1>Featured <span>Teachers</span></h1>
                    <div class="heading-border">
                    	<span class="line-border-left"></span>
                        <span class="left-circle"></span>
                        <span class="center-circle"></span>                        
                        <span class="left-circle"></span>
                        <span class="line-border-right"></span>
                    </div>
                </div>
                
                
            <% @individualusers.each do |indivuser| %>    
				<div class="col-md-3 ft-single-box">
                	<div class="teacher-img-cover">
                    	<img src="<%= indivuser.avatar.blank? ? asset_path('profile-placeholder.jpg') : indivuser.avatar %>" class="img-responsive">
                        <a href="#"><span class="plus-icon">+</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="teacher-text">
                    	<h3><a href="<%= user_path(indivuser) %>"><%= indivuser.username %></a></h3>
                        <p>Teacher</p>
                        <div class="location">
                            	<i class="fa  fa-map-marker"></i>
                                 <%= indivuser.country %>
                            </div>
                    </div>           
            </div>
            <% end %>
            <div class="clearfix"></div>
              <div class="view-all-teachers text-center">
                    <a href="<%= employee_search_results_path %>" class="viewallteachers-btn col-md-3">View All Teachers</a>
                </div>  
      
            
        </div>
    </div>
   </section>   