<body id="page-top" data-target=".navbar-fixed-top" class="individualprofile-page">
    
    <!-- Header -->
    <header class="header">

	<div class="div-top-header">	
	
    <!--Branding and Main Navigation-->
<nav id="primaery-navbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="col-md-3 col-sm-3 col-xs-12">          
			     <a class="navbar-brand" data-no-turbolink href="<%= root_path %>"><span>ESL</span> Jobs Lounge</a>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 small-right pull-right">
                <% if user_signed_in? %>
                 <div class="col-md-4 col-xs-12 col-sm-3 pull-right login-signup-btn">
                    <a class="sign-in-login-btn green-btn dropdown-toggle camelcase"  data-toggle="dropdown" href="#">
                    <i class="fa fa-user"></i> 
                    <%= current_user.first_name %>
                    </a>
                      <ul class="dropdown-menu">
                        <li><a href="<%= user_path(current_user) %>">Profile</a></li>
                        <li><a href="<%= mailbox_inbox_path %>">Inbox</a></li>
                        <li><a href="<%= destroy_user_session_path %>">Sign out</a></li>
                      </ul>
                <% else %>
                <div class="col-md-2 col-xs-12 col-sm-3 pull-right login-signup-btn">
                <a class="sign-in-login-btn green-btn" href="<%= new_user_registration_path %>">
                    <i class="fa fa-user-plus"></i> 
                    Sign Up                                      
                    </a>
                <% end %>
        
                </div>
                <div class="col-md-2 col-xs-12 col-sm-3 pull-right login-signup-btn">
                     <% if user_signed_in? %>
                    <!--<a class="sign-in-login-btn" data-no-turbolink href="<%= user_path(current_user) %>">-->
                    <!--<i class="fa fa-user-plus"></i> -->
                    <!--Profile-->
                    <!--</a> -->
                    <% else %>
                    <a class="sign-in-login-btn" href="<%= new_user_session_path %>">
                    <i class="fa fa-sign-in"></i> 
                    Login
                    </a>
                    <% end %>

                </div> 
                
                <% if user_signed_in? %>
                   <div class="col-md-2 col-xs-12 col-sm-3 pull-right login-signup-btn">                 
                    <!--<a class="sign-in-login-btn" data-no-turbolink href="<%= mailbox_inbox_path %>">-->
                    <!--<i class="fa fa-user-plus"></i> -->
                    <!--Inbox-->
                    <!--</a> -->
                    </div>
                    <div class="col-md-7 col-xs-12 col-sm-6 pull-right login-signup-btn">
                <% else %>
                <div class="col-md-8 col-xs-12 col-sm-6 pull-right login-signup-btn">
                <% end %>

               <div class="col-md-12 nopadding">
               <!-- <div class="category-field">
                 <select name="" id="input" class="form-control" required="required">                         
                          <option value=""><i class="fa fa-search"></i> <span class="hide-text">Jobs</span></option>
                          <option value="">Teachers</option>
                          <option value="">Employers</option>
                          <option value="">Forum</option>
                        </select>
                        <i class="fa fa-angle-down"></i>                        
               </div> -->
                <form class="navbar-form pull-right" role="search" method="get" id="searchform" action="job_search_result">
                <div class="input-group cutsominput-group">
                    <div class="input-group-btn">
                        <button type="button" id="searchcategory" value="Jobs" class="btn btn-cat" data-toggle="dropdown" aria-expanded="false">Jobs <span class="caret"></span></button>
        
                        <ul id="searchdropdown" class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)">Jobs</a></li>
                            <li><a href="javascript:void(0)">Teachers</a></li>
                            <li><a href="javascript:void(0)">Employers</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control search-field" value="" placeholder="Search..." name="keyword" id="search_field">
                    <div class="input-group-btn">
                        <button type="submit" id="searchsubmit" value="Search" class="btn btn-cat btn-green"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form> 
               </div>
               <!-- <div class="col-md-8 nopl">
                    <div class="search-filed">
                    <form>
                        
                        <input type="text" name="" id="" placeholder="Search your keyword..">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    </div>
                    </div> -->
               </div>   
            </div>
    </nav>
    
   </div>