<div class="container-fluid home_content">
			<div class="row-fluid hero_bar"><!-- start hero -->
				<div class="span12">
					<div class="row-fluid">
						<br>
						<div class="">
							
							<div class="row-fluid">
								<div class="">
									<div class="row-fluid">
										<div class="span3 offset2">
											<h3 style="padding-left:3px">Location...</h3>
										</div>		
										<div class="span3">
											<h3 style="padding-left:3px">I'm looking for...</h3>
										</div>			
									</div>
									<%= form_tag job_posts_path, :method => 'get' do %>
									<div class="row-fluid">
									<div class="span3 offset2" >	
											<form>
											<select class="home_select"
											onChange="if(this.selectedIndex!=0)
											self.location=this.options[this.selectedIndex].value">
											<option value="" selected>Select Your country
												 <% @countries.each do |country| %>
											<option value="<%= url_for(country)%>"><%= country.countryname %>
												<%end%>	
											</select>
											</form> 
									</div>
									
										<div class="span3">
											 <%= text_field_tag :search, params[:search], class: "span12 search_input", placeholder: "   Search Jobs Here" %>
										</div>
																				
										<div style="margin-left:1%" class="span3">
										  <%= submit_tag "Search", :class=>"btn btn-primary btn-success" ,:title => nil %> 
										</div>
									
									</div>
									<% end %>	
								</div>
							</div>
							<br>
	
						</div>		
					</div>				
				</div>
	</div>
		</div><!-- end hero -->