<%= render 'header'%>	
	<div class="home_wrapper">
	<%= render 'subheader'%>
	<div class="container-fluid home_main_content">
	<div class="row-fluid">
	
<%= render 'container'%>
	
<%= render 'leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
<%= render 'footer'%>