<%= render 'home/header'  %>
</header>
    <section class="page-heading-sec">    
        <div class="container">
            <div class="row">
            <div class="page-heading">
                 <h1>My Messages</h1>            
            </div>       
        </div>
    </div>

    </section>
    
    <!-- Login form section -->
    <section class="job-description-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 nopr">
                        <div class="col-left-side">
                            <% unless params[:id].blank? %>
                            <a class="newmsg"> + Conversation</a>
                            <div class="clearfix"></div>
                            <% end %>
                            <div class="message-listing">
                                <ul>
                                   <% if is_conversation %>
                                   <a class="newmsg" style="margin-top:5px"> + Send Message</a>
                                    <% else %>
                                        <%= render partial: 'conversations/conversation' %>
                                    <% end %>
                                  
                                </ul>                                
                            </div>                          
                        </div>
                </div>
                <div class="col-md-8 nopl">
      
                    <% if is_conversation %>
                        <%= render 'conversations/form' %>
                    <% else %>
                       <% if params[:id].blank? && @first_con_id.blank? %>
                        No Conversation found
                        <% elsif params[:id].blank? %>
                        <meta http-equiv="refresh" content="0; url=<%= mailbox_inbox_path + '?id=' + @first_con_id.to_s  %>" />
                        <% else %>
                        <%= render 'conversations/show' %>
                        <% end %>
                    <% end %>
                </div>
                
            </div> 
              
        </div>
    </section>
    
    <%= render 'home/footer'  %>
