<%= render 'home/header'  %>
</header>
    <section class="page-heading-sec">    
        <div class="container">
            <div class="row">
            <div class="page-heading">
                 <h1>My Messages</h1>            
            </div>       
        </div>
    </div>

    </section>
    
    <!-- Login form section -->
    <section class="job-description-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 nopr">
                        <div class="col-left-side">
                            <a class="newmsg"> + New message</a>
                            <div class="clearfix"></div>
                            <div class="search-field">
                                <form>
                                    <input type="text" name="" id="">
                                    <button type="text" class="search-button"><i class="fa fa-search"></i></button>
                                </form>

                            </div>  
                            <div class="message-listing">
                                <ul>
                                   <% if is_conversation %>
                                   Move to new conversation
            <% render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
                                  
                                </ul>                                
                            </div>                          
                        </div>
                </div>
                <div class="col-md-8 nopl">
                    <div class="new-message-cover">
                    <form>
                        <div class="input-msg">
                        <span>To:</span><span class="new-msg-input"><input type="text" name="" id="" placeholder="Enter recepient name"></span>
                        </div>
                        <div class="msg-center-box">

                        <div class="msg-form-cover">
                            
                                <textarea name="" cols="" rows=""></textarea>
                                <div class="submit-btn-cover">
                                    <button type="submit" class="pull-right">Send</button>
                                </div>
                            
                        </div>

                        <div class="clearfix"></div>
                        </div>
                        </form>
                        <div class="clearfix"></div>    
                        
                    </div>
                    <% if is_conversation %>
                    No Messages Found
                    <% else %>
                       <% if params[:id].blank? && @first_con_id.blank? %>
                        Move to new conversation
                        <% elsif params[:id].blank? %>
                        <meta http-equiv="refresh" content="0; url=<%= mailbox_inbox_path + '?id=' + @first_con_id.to_s  %>" />
                        <% else %>
                        <%= render 'conversations/show' %>
                        <% end %>
                    <% end %>
                </div>
                
            </div> 
              
        </div>
    </section>
    
    <%= render 'home/footer'  %>
