<%= form_for(@company_employee) do |f| %>
  <% if @company_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_employee.errors.count, "error") %> prohibited this company_employee from being saved:</h2>

      <ul>
      <% @company_employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.number_field :employee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
