<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @experience.company_name %>
</p>

<p>
  <strong>Year experiences:</strong>
  <%= @experience.year_experiences %>
</p>

<p>
  <strong>Job details:</strong>
  <%= @experience.job_details %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
