<body>
<%= render 'home/header'%>	
	<div class="home_wrapper">
	<div class="container-fluid home_main_content">
	<div class="row-fluid">
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				
					<%= render "devise/sessions/login" %>
					<%= render "devise/shared/links" %>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>	
	<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
<%= render 'home/footer'%>
</body>


