<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @job_posts.each do |job_post| %>
    <tr>
      <td><%= job_post.title %></td>
      <td><%= job_post.description %></td>
      <td><%= link_to 'Show', job_post_path(job_post) %></td>
      <td><%= link_to 'Edit', edit_job_post_path(job_post) %></td>
      <td> <%= button_to "delete", job_post, :method=>:delete, :class=>:destroy %></td>
                   
  </tr>
    </tr>
  <% end %>
</table>