<!DOCTYPE html>
<!-- saved from url=(0040)http://esljobs.herokuapp.com/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta charset="utf-8">
	<title>Job Board - Bootstrap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<![endif]-->

<body>
	<% @page_title= "Latest Jobs" %>
<%= render 'home/header'%>	
	<div class="home_wrapper">
	<%= render 'home/subheader'%>
	<div class="container-fluid home_main_content">
	<div class="row-fluid">
	
<%= render 'home/container'%>
	
<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
<%= render 'home/footer'%>