<%= form_for :job_posts, url: job_posts_path do |f| %>
<p>
	<%=f.label :title%> <br />
	<%=f.text_field :title%>
</p>
<p>
	<%=f.label :description%> <br />
	<%=f.text_area :description%>
</p>
<p>
	<%=f.label :city %> <br />
	<%=f.text_field :city%>
</p>

<p>
	<%=f.label :jobslink%> <br />
	<%=f.text_field :jobslink%>
</p>
<p>
	<%=f.label :salary%> <br />
	<%=f.text_field :salary%>
</p>
<p>
	<%=f.label :company%> <br />
	<%=f.text_field :company%>
</p>

<p><%= f.submit %></p>
<% end %>
