 <%   
 @page_title= @job_post.title+ " | Esl Teaching Jobs Lounge"
 @page_keywords="esl jobs, esl teaching jobs, esl jobs in "+ @job_post.country.countryname + ", esl jobs lounge,teach english"
 @page_description="ESL JOBS in "+ @job_post.country.countryname+" : " + raw(strip_tags(@job_post.description)[0,256])
 @page_author="ESL Teaching JOBS Lounge"
 @container_title= ""
%>
 
<%= render 'home/header'%>	
</header>
    <section class="page-heading-sec job-desc-sec">    
        <div class="container">
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">     
            </div>  
        </div>
    </div>

    </section>
    
    <!-- Login form section -->
    <section class="job-description-sec">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
            <h1 class="m-t-0"><%= @job_post.title %></h1>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-lg-9">
               <div class="job-content">
               <div class="sidebar-job-des">
               <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-field-desc">
                        <div class="single-box-header">
                            <i class="fa fa-calendar"></i>
                            <span class="single-label">Date Posted</span>
                            <div class="clearfix"></div>
                        </div>
                        <p><%= @job_post.created_at.strftime("%d %b. %Y") %></p>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-field-desc">
                        <div class="single-box-header">
                            <i class="fa fa-map-marker"></i>
                            <span class="single-label">Location</span>
                            <div class="clearfix"></div>
                        </div>
                        <p><%= @job_post.country.countryname  %></p>
                    </div> 
                    </div> 

                   <!--  <div class="col-md-4">
                    <div class="single-field-desc">
                        <div class="single-box-header">
                            <i class="fa fa-user"></i>
                            <span class="single-label">Position</span>
                            <div class="clearfix"></div>
                        </div>                
                        <p>Tutoring Jobs</p>
                    </div> 
                    </div> --> 
                   <!--  <div class="col-md-4">
                    <div class="single-field-desc">
                         <div class="single-box-header">
                            <i class="fa fa-clock-o"></i>
                            <span class="single-label">Job Status</span>
                            <div class="clearfix"></div>
                        </div>
                        <p>Part-time</p>
                    </div> 
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-field-desc">
                        <div class="single-box-header">
                            <i class="fa fa-money"></i>
                            <span class="single-label">Salary</span>
                        <div class="clearfix"></div>
                        </div>                   
                        <p><%= @job_post.salary.blank? ? 'Negotiable' : @job_post.salary  %></p>
                    </div> 
                    </div>
                   <!--  <div class="col-md-4">
                    <div class="single-field-desc">
                        <div class="single-box-header">
                            <i class="fa fa-money"></i>
                            <span class="single-label">Expertise</span>
                        <div class="clearfix"></div>
                        </div>                   
                        <p>Hourly Rate</p>
                    </div> 
                    </div> -->
                </div>
                </div> 
                <div class="clearfix"></div>
                <div class="job-description-box">
                   <h3>Description</h3>
                <p><%= raw(@job_post.description) %>
</p>
 
<% if current_user.id != @job_post.user_id %>
<div class="col-md-4 col-md-offset-4">
<a href="<%=@job_post.jobslink.blank? ? new_conversation_path(:user => @job_post.user.id) : @job_post.jobslink  %>" class="green-button-common"><%= @job_post.jobslink.blank? ? 'Apply Job' : 'External Link'  %></a>
</div>
<% end %>
                <div class="clearfix"></div>
               </div>
               <% unless @job_post.user.blank? %>
               <div class="job-des-profile">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 nopadding">
                        <div class="job-profile-img">
                            <img class="thumb-size" src="<%= @job_post.user.avatar.blank? ? asset_path('profile-placeholder.jpg') : @job_post.user.avatar.thumb.url  %>">
                        </div>                        
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                        <div class="job-profile-des">
                            <h3><a href="<%= user_path(@job_post.user) %>"><%= @job_post.user.first_name unless @job_post.user.first_name.blank? %> <%= @job_post.user.last_name unless @job_post.user.last_name.blank? %> (<%= @job_post.user.username unless @job_post.user.username.blank? %>)</a></h3>
                            <span class="designation"> <%= @job_post.user.businessname + " | " unless @job_post.user.businessname.blank?  %> <b></b> <%= @job_post.user.country + "Location: | " unless @job_post.user.country.blank?  %>  <b>Since:</b> <%= @job_post.created_at.strftime("%d %b. %Y") %> </span>
                            <p><%= raw(strip_tags(@job_post.user.about)[0,100]) unless @job_post.user.about.blank? %> </p> 
                            <div class="start-rating-cover">
        <fieldset class="rating pull-left">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        <div class="clearfix"></div>
                                                </div>  
                        </div>
                    </div>
                  <div class="clearfix"></div>      
               </div>

               <div class="employer-similar-jobs">
                   <h2>Other job posted by <%= @job_post.user.username %></h2>
                   <div class="clearfix"></div>
                   <% @userjobpost.each do |userjobpost| %>
                   <div class="list-job-box">
                       <h5><a href="#"><%= userjobpost.title %> </a></h5>
                       <p> <%= raw(strip_tags(userjobpost.description)[0,300]) %></p>
                       <h6>Posted <%= userjobpost.created_at.strftime("%d %b. %Y") %></h6>
                       <div class="clearfix"></div>
                   </div>
                   <% end %>
               </div>
               <% end %>

               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-add">
                <img src="<%= asset_path("google-ad-160.jpg") %>">          
            </div>
                
            </div> 
              
        </div>
    </section>
<%= render 'home/footer'%>