 <%   
 @page_title= @job_post.title+ " | Esl Teaching Jobs Lounge"
 @page_keywords="esl jobs, esl teaching jobs, esl jobs in "+ @job_post.country.countryname + ", esl jobs lounge,teach english"
 @page_description="ESL JOBS in "+ @job_post.country.countryname+" : " + raw(strip_tags(@job_post.description)[0,256])
 @page_author="ESL Teaching JOBS Lounge"
 @container_title= ""
%>
 
<%= render 'home/header'%>	
<%= render 'home/subheader'%>	

		<div class="main-area fix">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-sm-10 main-area-body fix">
						<div class="bannar fix">
							<img src="/assets/img/bannar.jpg" alt="" />
						</div>
						<section class="job_area fix">
							<div class="row">
								<div class="col-md-9 col-sm-9 job-conditions-area">
									<div class="job-heading-area-fix">
										<h2 class="job-page-heaing">  <%= @job_post.title %></h2>
									</div>
									<div class="job-details fix">
										<div class="col-md-4 col-sm-4 job-details-heading">
											<p>Job Details:</p>
										</div>
										<div class="col-md-8 col-sm-8">
											<div class="col-md-4 col-sm-4">
												<div class="published_date fix">
													<p><%= @job_post.created_at.strftime("%d %b. %Y") %></p>
												</div>
											</div>
											<div class="col-md-4 col-sm-4">
												<div class="place fix">
													<p style="width:100%;float:none;"><span style="color: #ddd;margin-right: 4px;" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><%= @job_post.salary %> </p>
												</div>
											</div>
											<div class="col-md-4 col-sm-4">
												<div class="work_rate fix">
													<p><% if @job_post.country.countryname.blank? %>
<% else %>
  <%= @job_post.country.countryname %>
<% end %></p>
												</div>
											</div>
										</div>
									</div>
									<div class="job_conditions fix">
                  <%= raw(@job_post.description) %>
									</div>
<p>
  <strong>Original Job Link: </strong>
  <%= link_to "Click here", @job_post.jobslink, :target => '_blank' %>
</p>
								</div>
								<!--sidebar start-->
                <%= render 'home/leftsidebar'%>
								<!--sidebar start end -->
							</div>
							<!--Job in the same country -->
							<div class="job-same-country fix">
								<h2>Job in the same country</h2>
								<div class="col-md-3 col-sm-3">
									<p class="date"><span class="calander" style="float:left;margin-right:5px;"><img src="img/calander.png" alt="" /></span>16 Jan 2015</p>
									<p class="job_des">We are looking for Sunday Fun English theme teachers who will teach 2 hours on Sundays in Seoul</p>
								</div>
								<div class="col-md-3 col-sm-3">
									<p class="date"><span class="calander" style="float:left;margin-right:5px;"><img src="img/calander.png" alt="" /></span>16 Jan 2015</p>
									<p class="job_des">Kindergarten Teacher Needed At Woosong University in Daejeon, Korea, starting March 2015</p>
								</div>
								<div class="col-md-3 col-sm-3">
									<p class="date"><span class="calander" style="float:left;margin-right:5px;"><img src="img/calander.png" alt="" /></span>16 Jan 2015</p>
									<p class="job_des">We are looking for Sunday Fun English theme teachers who will teach 2 hours on Sundays in Seoul</p>
								</div>
								<div class="col-md-3 col-sm-3">
									<p class="date">Ads by google</p>
									<p class="job_des">We are looking for Sunday Fun English theme teachers who will teach 2 hours on Sundays in Seoul</p>
								</div>

		
<%= render 'home/footer'%>
