 <title><%= @job_post.title %>| Esl Teaching Jobs Lounge</title>
 <meta name="description" content="<%= "ESL JOBS:"+raw(strip_tags(@job_post.description)[0,256])%>">
 <meta name="keywords" content="esl jobs, esl teaching jobs, esl jobs in <%= @job_post.country.countryname %>, esl jobs lounge,teach english" />
<%= render 'home/header'%>	
	<div class="home_wrapper">

	<div class="container-fluid home_main_content">
	<div class="row-fluid">
		
		
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<table class="table table-striped">
					<tbody>

<h1>
  <%= @job_post.title %>
</h1>
 <td>
<p>
  <strong>Job details:</strong><br/>
  <%= raw(@job_post.description) %>
</p>
<p>

<% if @job_post.salary.blank? %>
<% else %>
     <strong>Salary: </strong>
  <%= @job_post.salary %>
</p>
<% end %>

<% if @job_post.company.blank? %>
<% else %>
<p>
  <strong>Company:</strong>
  <%= @job_post.company %>
</p>
<% end %>

<% if @job_post.job_type.type_title.blank? %>
<% else %>
<p>
  <strong>Job Types: </strong>
  <%= @job_post.job_type.type_title %>
</p>
<% end %>

<% if @job_post.country.countryname.blank? %>
<% else %>
<p>
  <strong>Country: </strong>
  <%= @job_post.country.countryname %>
</p>
<% end %>
 
<p>
  <strong>Original Jobs Link: </strong>
  <%= link_to "Click here", @job_post.jobslink, :target => '_blank' %>
</p>
<!-- 
<p>
  <strong>salary:</strong>
  <%= @job_post.salary %>
</p>
<p>
  <strong>Job Types</strong>
  <%= @job_post.job_type.type_title %>
</p>
<p>
  <strong>Country id</strong>
  <%= @job_post.country.countryname %>
</p>
 
<p>
  <strong>company:</strong>
  <%= @job_post.company %>
</p>
-->
<br/>
<h2>
  <strong><a style="float:left" href="/esl-jobs/<%= @job_post.country.countryname %>">Back to ESL JOBS in <%= @job_post.country.countryname %></a></strong>
</h2>
<h2>
  <strong><a style="float:right" href="/">Back to homepage</a></strong>
</h2>

</td>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>

<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
<%= render 'home/footer'%>
