<%= render 'home/header'%>	
	<div class="home_wrapper">

	<div class="container-fluid home_main_content">
	<div class="row-fluid">
		
		
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<table class="table table-striped">
					<tbody>

<h1>
  <%= @job_post.title %>
</h1>
 <td>
<p>
  <strong>Job details:</strong><br/>
  <%= raw(@job_post.description) %>
</p>
 
<p>
  <strong>For More information</strong>
  <%= link_to "Click here", @job_post.jobslink, :target => '_blank' %>
</p>
<!-- 
<p>
  <strong>salary:</strong>
  <%= @job_post.salary %>
</p>
<p>
  <strong>Job Types</strong>
  <%= @job_post.job_type.type_title %>
</p>
<p>
  <strong>Country id</strong>
  <%= @job_post.country.countryname %>
</p>
 
<p>
  <strong>company:</strong>
  <%= @job_post.company %>
</p>
-->
<br/>
<h2>
  <strong><a style="float:right" href="/">Back to homepage</a></strong>
</h2>

</td>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>

<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
		<%= render 'home/subheader'%>
<%= render 'home/footer'%>
