<div id="new_picture">
<div id="addpic" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Content</h4>
      </div>
      <div class="modal-body">
          <%= form_for @picture, remote: true, authenticity_token: true do |f| %>
  <div class="form-group">
    <label for="email">Upload file (.jpg, .png etc)</label>
    <%= f.file_field :pic_url,:onchange =>"validateFiles(this);", :class=>"form-control",
        :data => {:max_file_size => 1.megabytes}%>

    <%= f.hidden_field :pic_url_cache %>
  </div>
  <div class="form-group">
    <label for="pwd">Picture Detail</label>
    <%= f.text_area :description, :class=>"modal-textarea" %>
  </div>  

      </div>
      <div class="modal-footer">
        <%= f.submit 'Create', :class=>"send-msg" %>
      </div>
      <% end %>
    </div>

  </div>
</div>
</div>
<script>
  function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (1 MB)";
  var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif or .png is allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png"];
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>