<p>Edit Countries</p>
<%= form_for :country, url: country_path(@country), method: :patch do |f| %>
  <% if @country.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@country.errors.count, "error") %> prohibited
      this post from being saved:</p>
    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<p>
	<%=f.label :title%> <br />
	<%=f.text_field :title%>
</p>
<p>
	<%=f.label :description%> <br />
	<%=f.text_area :description%>
</p>
<p>
	<%=f.label :city %> <br />
	<%=f.text_field :city%>
</p>

<p>
	<%=f.label :jobslink%> <br />
	<%=f.text_field :jobslink%>
</p>
<p>
	<%=f.label :salary%> <br />
	<%=f.text_field :salary%>
</p>
 <div class="field">
    <%= f.label :CountryName %><br />
<%= f.collection_select(:country_id, Country.all, :id, :countryname, include_blank: false) %>

<p>
	<%=f.label :company%> <br />
	<%=f.text_field :company%>
<p>

<p><%= f.submit %></p>
<% end %>
