 <%   
 @page_title= "ESL Teaching JOBS in "+ @country.countryname + " | ESL Jobs Lounge"
 @page_keywords="esl jobs, esl teaching jobs, esl jobs in "+ @country.countryname + ", esl jobs lounge,teach english"
 @page_description="ESL Jobs | Your one stop to find your next ESL Teaching Job"
 @page_author="ESL Teaching JOBS Lounge"
 @container_title= "ESL Teaching JOBS in "+ @country.countryname
%>

<%= render 'home/header'%>	
	<div class="home_wrapper">

	<div class="container-fluid home_main_content">
	<div class="row-fluid">
<%= render 'home/container'%>
	
<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
	<%= render 'home/subheader'%>
<%= render 'home/footer'%>