
<% @page_title= "ESL Teaching JOBS in "+ @country.countryname %>


<%= render 'home/header'%>	
	<div class="home_wrapper">

	<div class="container-fluid home_main_content">
	<div class="row-fluid">
<%= render 'home/container'%>
	
<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
	<%= render 'home/subheader'%>
<%= render 'home/footer'%>