<h1 class="review_list">Listing reviews</h1>

<table class="review_list">
  <thead>
    <tr>
      <th>Reviewpost</th>
      <th>Review by</th>
      <th>Review to</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr class="review_list">
        <td><%= review.reviewpost %></td>
        <td><%= review.review_by %></td>
        <td><%= review.review_to %></td>
        <% if review.review_by == current_user.id 
          @mashpy = "something"
         end %>
        <% if current_user.id == review.review_by %>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review_path(review, :reviewid=> review.review_to ), method: :delete, data: { confirm: 'Are you sure?' } , remote: true %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div id="incomplete_reviews"></div>
<% if @mashpy.nil? %> 
<%= render 'reviews/form' %>
<% end %>