     <% @reviews.each do |review| %>
           <div class="review_list">
                        <div class="review-row">
                          <div class="col-md-2">
                            <div class="comment-img">
                                <img src="/assets/davene-januszewski.jpg" width="80" height="80">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="reviews-cover">
                              <p><img class="quote-left" src="/assets/quote-left.png"><%= review.reviewpost %> <img class="quote-right" src="/assets/quote-right.png"></p>
                              <div class="user-name">
                                 <span class="line-left-right"></span>
                                 <span class="comment-name"><%= review.review_by %></span>
                                 <span class="line-left-right"></span>
                              </div>
                              
                            </div>                            
                          </div>
                          <div class="clearfix"></div>
                          </div>

  

        <td><%= review.reviewpost %></td>
        <td><%= review.review_by %></td>
        <td><%= review.review_to %></td>
        <% if review.review_by == current_user.id 
          @mashpy = "something"
         end %>
        <% if current_user.id == review.review_by %>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review_path(review, :reviewid=> review.review_to ), method: :delete, data: { confirm: 'Are you sure?' } , remote: true %></td>
      </div>
    <% end %>
    <% end %>

<div id="incomplete_reviews"></div>
<% if @mashpy.nil? %> 
<%= render 'reviews/form' %>
<% end %>